<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yiyun.application.dao.ApplicationFinanceCustomMapper" >

  <sql id="Base_Column_List">
    t.id as id,t.finance_type as financeType ,t.total_amount as totalAmount ,t.money_change as moneyChange ,t.shares_change as sharesChange ,
    t.stock_price as stockPrice,t.account_id as accountId ,t.fee as fee  ,t.finance_remark as  financeRemark  ,
    t.gmt_create as gmtCreate ,t.gmt_modified as gmtModified ,t.is_sign as isSign
  </sql>

  <sql id="Where_Clause" >
    <where>
        1=1
      <if test="record.id != null" >
        and id like '%${record.id}%'
      </if>
      <if test="record.gmtCreate != null" >
        and gmt_create = '${record.gmtCreate}'
      </if>
      <if test="record.gmtModified != null" >
        and gmt_modified = '${record.gmtModified}'
      </if>
      <if test="record.isSign != null" >
        and is_sign = '${record.isSign}'
      </if>

    </where>
  </sql>

  <select id="countFinance" resultType="_int">
    select count(1)
    from application_finance t
    <include refid="Where_Clause"/>
  </select>

  <select id="listFinancesByPage" resultType="com.yiyun.application.pojo.vo.ApplicationFinanceCustom">
    SELECT
    <include refid="Base_Column_List"/>
    FROM application_finance t
    <include refid="Where_Clause"/>
    order by id DESC
    LIMIT #{page.offset},#{page.limit}
  </select>


</mapper>