<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yiyun.application.dao.GlobalDictionaryCustomMapper" >

  <sql id="Base_Column_List">
    t.id as id,t.code_type as codeType ,t.code_value as codeValue ,t.code_explain as code_explain ,t.parameters_classified as parametersClassified ,
    t.gmt_create as gmtCreate ,t.gmt_modified as gmtModified ,t.is_sign as isSign
  </sql>


  <select id="countDictionaries" resultType="_int">
    select count(1)
    from global_dictionary t
  </select>

  <select id="lisDictionariesByPage" resultType="com.yiyun.application.pojo.vo.GlobalDictionaryCustom">
    SELECT
    <include refid="Base_Column_List"/>
    FROM global_dictionary t
    order by id DESC
    LIMIT #{page.offset},#{page.rows}
  </select>


</mapper>